{{ $streamlinkTwitchGuiVersion := "2.5.2" -}}
["streamlink-twitch-gui/streamlink-twitch-gui.AppImage"]
    type = "file"
    url = "https://github.com/streamlink/streamlink-twitch-gui/releases/download/v{{ $streamlinkTwitchGuiVersion }}/streamlink-twitch-gui-v{{ $streamlinkTwitchGuiVersion }}-x86_64.AppImage"
