{{ $streamlinkTwitchGuiVersion := "2.5.2" -}}
["streamlink-twitch-gui/streamlink-twitch-gui.AppImage"]
    type = "file"
    url = "https://github.com/streamlink/streamlink-twitch-gui/releases/download/v{{ $streamlinkTwitchGuiVersion }}/streamlink-twitch-gui-v{{ $streamlinkTwitchGuiVersion }}-x86_64.AppImage"
    checksum.sha256 = "8d16e535fbac4e7b63618f93fad309d32b2252d4371e2aee80821f9082da9607"
    executable = true
