{{ $streamlinkTwitchGuiVersion := "2.5.3" -}}
["streamlink-twitch-gui/streamlink-twitch-gui.AppImage"]
    type = "file"
    url = "https://github.com/streamlink/streamlink-twitch-gui/releases/download/v{{ $streamlinkTwitchGuiVersion }}/streamlink-twitch-gui-v{{ $streamlinkTwitchGuiVersion }}-x86_64.AppImage"
    checksum.sha256 = "e8ab7041246c8edc28e800264e6119b2e494b9774e96c008e9f0f8cc19ef9e7b"
    executable = true
