#!/usr/bin/env bash

set -eufo pipefail

{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
sudo apt-get install fd-find

if [ ! -f ~/.local/bin/fd ]; then
  ln -s $(which fdfind) ~/.local/bin/fd
fi
{{ end -}}
