#!/bin/bash

# streamlink-twitch-gui.AppImage hash: {{ expandenv "$HOME/streamlink-twitch-gui/streamlink-twitch-gui.AppImage" | include | sha256sum }}
chmod +x ~/streamlink-twitch-gui/streamlink-twitch-gui.AppImage
