#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Sets up my own keymap
Exec=xkbcomp -I/home/fap/repos/dotfiles/xkb ~/repos/dotfiles/xkb/keymap/mykbd $DISPLAY
NoDisplay=true
